{% extends "UserBundle::layout.html.twig" %}

{% block debat_bundle %}
    <!-- controlleur OK, renvoie un tableau de 6 débats au hasard -->

    {% for debat in tableau %}
        <li>{{ debat.getId()|e }}</li>
    {% endfor %}

{% endblock debat_bundle %}